In [2]:
print("HELLO WORLD")

HELLO WORLD

In [9]:
age=29
print("my age is: ",age)

my age is:  29

In [12]:
print(f"my age is: {age}")

my age is: 29

In [17]:
name="saurav"
age=29
print("my name is {} and age is {}".format(name,age))

my name is saurav and age is 29

In [18]:
type(name)

str

In [19]:
type(age)

int

In [24]:
## placeholder is used in this type 
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is saurav and age is 29

In [3]:
## assignment classwork 
# task - needed output " my age is 29 and i have completed: my degree of b.com with the name saurav das"
# use f string and .formating method .

name="saurav das"
age= 29
degree="b.com"

## first use f string format

print(f"my age is {age} and i have completed: my degree of {degree} with the name {name}")

my age is 29 and i have completed: my degree of b.com with the name saurav das

In [5]:
## second use (.format) method

print("my age is {fage}  and i have completed: my degree of {fdegree} with the name {fname}".format(fdegree=degree,fage=age,fname=name))

my age is 29  and i have completed: my degree of b.com with the name saurav das

In [1]:
### if ,if else,if elif if , nested if , single statement suits

In [ ]:
## if function

In [4]:
##Task
## take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [24]:
age=int(input("enter your age"))

enter your age 33

In [25]:
if age>=18 and age<=45:
    print("you are young blood")

you are young blood

In [1]:
## else statement

In [2]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("thank you we will let you know")

enter your age 46

thank you we will let you know

In [3]:
## task 2

In [4]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <1000 rs 30% off
## print the product price after removing the discount

In [11]:
product_price=int(input("enter the product price"))
if product_price>1000:
    print(f"product price rs {product_price-product_price*20/100}")
else:    
    print(f"product price rs {product_price-product_price*30/100}")

enter the product price 1200

product price rs 960.0

In [12]:
## another method of this task using(.format)

In [23]:
product_price=int(input("enter the price of the product"))
if product_price>1000:
    print("the price of the product is rs {}".format(product_price*.8))
else:
          print("the price of the product is rs {}".format(product_price*.7))

enter the price of the product 450

the price of the product is rs 315.0

In [2]:
##elif function

In [3]:
## mall - input the product price
## product >3000 rs 20% off
## print the product price after removing the discount
## product >= 2000 rs and <=3000 30% off
## print the product price after removing the discount
## product >=1000 rs <=2000 40% off
## print the product price after removing the discount

In [3]:
product_price=int(input("enter product price"))
if product_price>3000:
    print(f"product price is rs {product_price*.8} visit us again ")
elif product_price>=2000 and product_price<3000:
    print(f"product price is rs {product_price*.7} have a nice day")
elif product_price>=1000 and product_price<2000:
    print(f"product price is rs {product_price*.6}")
else:
    print("thanks for visit us")

enter product price 4599

product price is rs 3679.2000000000003 visit us again

In [ ]:
## nested if function

In [ ]:
## mall - input the product price
## product >3000 rs 20% off
## product price is==rs 4000
## print you won a trip to thailand
## print the product price after removing the discount
## product >= 2000 rs and <=3000 30% off
## product price is==2999
## print you won an additonal gift
## print the product price after removing the discount
## product >=1000 rs <=2000 40% off
## print the product price after removing the discount

In [2]:
product_price=int(input("enter the product price"))
if product_price>3000:
    if product_price==4000:
        print("you won a trip to goa")
    print(f"product price is rs {product_price*.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("you won an  additional gift ")
    print(f"product price is rs {product_price*.7}")
elif product_price>=1000 and product_price<2000:
    print(f"product price is rs {product_price*.6}")
else:
    print(f"product price is rs {product_price} happy diwali")

enter the product price 4000

you won a trip to goa
product price is rs 3200.0

In [3]:
## single statement suits

In [8]:
val=int(input("enter the value"))
if val<=999:print("value is less than  equal to 999")

enter the value 500

value is less than  equal to 999

## loops statement
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

In [3]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [4]:
## an atm machine having 1000 cash in total ,every transcation  100 rs come out ,put a codition to show that after 1000 rs atm is out of money

In [6]:
withdrar_amount=100
while withdrar_amount<=1000:
    print(withdrar_amount)
    withdrar_amount=withdrar_amount+100
else:
    print("atm is out of money")

100
200
300
400
500
600
700
800
900
1000
atm is out of money

In [7]:
### an atm machine having 1000 cash in total ,every transcation  100 rs come out ,put a codition to show that after 1000 rs atm is out of money
## another way to solve the statement
## Atm machine having 1000

In [9]:
total_amt=1000
while total_amt!=0:
    print(total_amt)
    total_amt=total_amt-100
else:
    print("atm is out of money")

1000
900
800
700
600
500
400
300
200
100
atm is out of money

In [10]:
##for loop

In [1]:
fruit_list=["mango","papaya","banana","cherry","guava"]
for a in fruit_list:
    print(a)
    if a=="banana":
        print("the fruit is banana")

mango
papaya
banana
the fruit is banana
cherry
guava

In [3]:
fruit_list[2]

'banana'

In [4]:
## nested loop

In [8]:
## range
for i in range(1,15,3):
    print(i)

1
4
7
10
13

In [36]:
## nested loop
n=12

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [22]:
## lets create a quilateral triangle(not completed yet)

num_row=int(input("enter number of row"))
row=0
while row<num_row:
    row=row+1
    s=num_row-row
    
    sc=0
    while(sc<s):
        print(" ",end="")
        sc=sc+1
        
    stars=2*row-1
    while(stars>0):
        print("*",end="")
        stars=stars-1
        
    print()

enter number of row 8

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

In [18]:
## loop control(break,pass,continue)

In [19]:
## break
fruit_list=["mango","papaya","banana","cherry","guava"]
for a in fruit_list:
    if a=="banana":
        print("the fruit is banana")
        break
    print(a)

mango
papaya
the fruit is banana